# Wymagana wersja Pythona
Cython>=0.29.33; python_version >= "3.8" and python_version < "3.11"


# Podstawowe biblioteki do kompilacji i działania madmom
numpy>=1.23.0,<1.26
setuptools>=65.0.0
wheel>=0.38.0

# Biblioteka madmom
madmom==0.16.1

# Nasz kochant Flask
Flask>=2.3.0

# (opcjonalnie) narzędzia audio
ffmpeg-python
mutagen
# dodane pod docker
