<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackYeah2025</title>
    <link rel="stylesheet" href="../static/style.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div class="week-container">
        <h1 class="week-title">Ten Tydzień</h1>
        <div class="days-grid">
            {% for day in week %}
            <div class="day-item {% if day[0] == today %}today{% endif %}">
                <span class="day-name">{{ day[1] }}</span>
                <div class="day-circle">{{ day[0] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
<!--    <div class="board">-->
<!--        <section class="card">-->
<!--            <h1 class="card__title">Ten tydzień</h1>-->
<!--            <ul class="card__dates">-->
<!--                <li>27</li>-->
<!--                <li>28</li>-->
<!--                <li>30</li>-->
<!--                <li>2</li>-->
<!--                <li>3</li>-->
<!--            </ul>-->
<!--        </section>-->
<!--    </div>-->
</body>
</html>